.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #00695c;
}

/* button {
  font: inherit;
  font-size: 0.9rem;
  padding: 2px;
  border: 1px solid #dbc441;
  color: #dbc441;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #6200ff;
  color: white;
} */
